html {
    font-size: 62.6%;
    box-sizing: border-box;
}

body {
    font: 1.6rem helvetica;
    height: 100vh;
    margin: 0;
}

.brand a {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.header {
    padding: 20px;
    grid-area: header;
    background-color: #071d4c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.head-links a {
    font-size: 10px;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 15px;
}

.header a {
    padding-left: 10px;
    font-size: 30px;
    color: #ffffff;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
}

.products li {
    padding: 0;
    list-style-type: none;
    margin: 1rem;
    height: 40rem;
    flex: 0 1 34rem;
    border-bottom: 0.125rem #071d4c solid;
}

.product {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-name {
    font-size: 1.5rem;
    color: #0094ff;
}

a:hover {
    color: #ff6a00;
}

.product-brand {
    font-size: 1rem;
}

.price {
    font-size: 2rem;
    color: #071d4c;
    font-weight: bold;
}

.main {
    grid-area: main;
}

.footer {
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #071d4c;
    color: white;
    text-align: center;
}
/*side bar css*/

.overlay {
    height: 100%;
    width: 25%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }
}
